

<div class= "m-container-small m-padded-tb-big">
	<div class="ui container">
		<div class="ui top attached segment">
			<div class="ui horizontal link list">
				<div class="item">
					<img src = "https://unsplash.it/100/100?image=1005" alt="" class="ui avater image">
					<div class="content"><a href="#" class="header"> Scott </a></div>
				</div>
				<div class="item">
					<i class="calendar icon"></i>2017-10-01 
				</div>
				<div class="item">
					<i class="eye icon"></i>2342 
				</div>
			</div>
		</div>
		<div class="ui attached segment"></div>
		<div class="ui attached segment"></div>
		<div class="ui attached positive message">blog content</div>
		<div class="ui bottom attached segment"></div>
	</div>
</div>


